/* 

    Programmed by LovelyJacob (Jacob Humston).
    This code is open source, however I kindly ask for credit if used.
    Repository: https://github.com/jacobhumston/my-website

    Have a good one! :)

*/

@font-face
{
    font-family: Montserrat-Regular;
    src: url('../assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-display: block;
}

body,
input,
textarea,
button
{
    font-family: Montserrat-Regular, arial, sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

#menu-bar
{
    padding: 5px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#menu-bar-title
{
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.menu-bar-link
{
    padding-bottom: 6px;
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.menu-bar-link-active
{
    border-bottom: solid rgb(72, 142, 255) 2px;
    color: rgb(72, 142, 255);
}

@keyframes menu-bar-link-animation
{
    from
    {
        color: rgb(0, 0, 0);
        border-bottom-color: rgb(0, 0, 0);
    }

    to
    {
        color: rgb(72, 142, 255);
        border-bottom-color: rgb(72, 142, 255);
    }
}

.menu-bar-link:hover
{
    border-bottom: solid rgb(72, 142, 255) 2px;
    color: rgb(72, 142, 255);
    animation-name: menu-bar-link-animation;
    animation-duration: 0.25s;
}

#menu-bar-break-1,
#menu-bar-break-2
{
    display: none;
}

@media screen and (max-width: 575px)
{
    #menu-bar-break-1
    {
        display: block;
    }

    #menu-bar
    {
        height: 65px;
        line-height: 30px;
    }

    #menu-bar-title
    {
        margin-left: 10px;
    }
}

@media screen and (max-width: 440px)
{
    #menu-bar-break-2
    {
        display: block;
    }

    #menu-bar
    {
        height: 85px;
    }
}