/* 

    Programmed by LovelyJacob (Jacob Humston).
    This code is open source, however I kindly ask for credit if used.
    Repository: https://github.com/jacobhumston/my-website

    Have a good one! :)

*/

#wrapper
{
    text-align: center;
    padding: 10px;
}

#assets
{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#assets div
{
    padding: 5px;
    max-width: 500px;
    display: inline-block;
}

#assets div img,
#assets div video
{
    width: 100%;
}