/* 

    Programmed by LovelyJacob (Jacob Humston).
    This code is open source, however I kindly ask for credit if used.
    Repository: https://github.com/jacobhumston/my-website

    Have a good one! :)

*/

@font-face
{
    font-family: SecularOne-Regular;
    src: url('assets/SecularOne-Regular.ttf');
}

html
{
    font-family: SecularOne-Regular Arial, Helvetica, sans-serif;
}

hr
{
    border: none;
    height: 2px;
    background-color: black;
}

p
{
    font-size: large;
}

a
{
    color: rgb(42, 113, 227);
    text-decoration: none;
}

a:hover
{
    color: rgb(22, 98, 220);
    font-weight: bolder;
}

#wrapper
{
    text-align: center;
    padding: 25px;
}

button
{
    border: solid #000000 3px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: larger;
    padding: 8px;
    font-family: SecularOne-Regular Arial, Helvetica, sans-serif;
}

#settings-button,
#new-question
{
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}

#settings
{
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    border: solid #000000 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 400px;
}

.answer-button
{
    width: 85%;
    margin-bottom: 5px;
    max-width: 600px;
}

.answer-button:hover
{
    background-color: #dddddd;
}

select,
option
{
    font-size: medium;
    max-width: 90%;
    border: solid #000000 3px;
    padding: 5px;
    border-radius: 10px;
    font-family: SecularOne-Regular Arial, Helvetica, sans-serif;
}